* {
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 10, 10);
  color: rgb(184, 180, 176);
  padding: 0;
  margin: 0;
}

h2 {
  color: rgb(43, 135, 205);
  font-size: 2.5vw;
  margin-left: 40vw;
  font-family: "Roboto Slab", serif;
}

h3 {
  color: rgb(46, 147, 46);
  font-size: 2.25vw;
  /* margin-left: 20vw; */
}

.green-bold {
  color: rgb(78, 217, 78);
  font-weight: bold;
}

#mit {
  color: rgb(192, 141, 55);
}

.fab {
  padding: 20px;
  font-size: 40px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
  color: rgb(197, 195, 193);
}

#topnav {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
}

#topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 1.25vw;
}

#topnav a:hover {
  background-color: rgb(60, 60, 60);
  color: black;
}

#topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
}

.greet-container {
  display: flex;
  order: 1;
  flex-direction: column;
  height: 50vw;
}

.main-title {
  order: 1;
  margin-top: 10vw;
}

#title {
  color: rgb(255, 87, 0);
  font: 3vw "Roboto Slab", serif;
  text-shadow: 3px 3px rgb(187, 10, 10); /* might need to change size for mobile devices */
  text-align: center;
}

.para-item {
  order: 2;
  margin-top: 3vw;
}

#first-para {
  font-size: 2vw;
  width: 50vw;
  text-align: center;
  margin-left: 25vw;
}

.about-container {
  display: flex;
  order: 2;
  flex-direction: column;
  /* margin: 5vw 0; */
  height: 50vw;
  background-color: rgb(25, 25, 25);
}

.about-subheading {
  order: 1;
  margin-top: 5vw;
}

.about-subcontainer {
  display: flex;
  order: 2;
  margin-top: 7vw;
}

.image-container {
  display: flex;
  width: 25%;
  margin: 0 4vw;
}

.img-item {
  /* margin: 1.5vw 1.5vw 1.5vw 5.5vw; */
  margin: auto;
}

#me-img {
  max-width: 70%;
  width: 70vw;
  height: auto;
  border-radius: 50%;
}

/* .intro-item-container {
  width: auto;
} */

.intro-item {
  font-size: 1.5vw;
  text-align: justify;
  width: 55vw;
  margin-top: 3vw;
  font-family: "Open Sans", sans-serif;
}

.skills-container {
  display: flex;
  flex-direction: column;
  order: 3;
  height: 50vw;
  background-color: rgb(15, 15, 15);
}

.skills-subheading {
  order: 1;
  margin-top: 5vw;
}

.skills-subcontainer {
  display: flex;
  order: 2;
  margin-top: 5vw;
}

/* .skills-subtitle {
  display: flex;
  order: 2;
} */

.language-item {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.language-title-container {
  order: 1;
}
.language-title {
  text-align: center;
}

.language-list-container {
  order: 2;
}

.languages-list {
  display: flex;
  flex-wrap: wrap;
}

div ul li {
  list-style: none;
  font-size: 1.5vw;
  margin: 1vw auto auto auto;
  font-family: "Open Sans", sans-serif;
  /* border: 2px solid red; */
}

.info-item {
  order: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info-title-container {
  order: 1;
}

.info-title {
  text-align: center;
}

.skill-info-container {
  order: 2;
}

.skill-info {
  font-size: 1.5vw;
  text-align: justify;
  margin: 3vw;
  font-family: "Open Sans", sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  height: 47vw;
  background-color: rgb(25, 25, 25);
}

.contact-subheading {
  margin-top: 5vw;
  order: 1;
}

.gmail-container {
  order: 2;
  align-self: center;
  margin-right: 8vw;
}

.gmail-text {
  font-size: 1.5vw;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

#gmail {
  color: rgb(192, 141, 55);
  /* text-decoration: none; */
}

.icons {
  order: 3;
  align-self: center;
  margin-right: 10vw;
  /* width: 17vw; */
  display: table;
}

.icon {
  color: white;
  font-size: 2.5vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  opacity: 0.7;
  transform: scale(1.5);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  .greet-container {
    height: 65vw;
  }

  #title {
    text-shadow: 1.5px 1.5px rgb(187, 10, 10);
    font-size: 6vw;
  }

  .para-item {
    margin-top: 0;
  }

  #first-para {
    font-size: 4vw;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
  }

  .about-container {
    height: 90vw;
  }

  .about-subcontainer {
    flex-direction: column;
    margin-top: 2vw;
    height: 80vw;
    /* justify-content: center;
    align-content: center; */
  }

  .about-subheading {
    /* margin-left: 4vw; =44vw(40vw from h2 + 4vw) */
    margin-top: 2vw;
  }

  .image-container {
    align-self: center;
    margin-right: 8vw;
  }

  #me-img {
    max-width: 125%;
  }

  .intro-item-container {
    align-self: center;
  }

  .intro-item {
    font-size: 3vw;
    text-align: justify;
    width: 84vw;
  }

  .skills-container {
    height: 95vw;
  }

  .skills-subcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 0vw;
  }

  .skills-subheading {
    margin-left: 1vw;
    margin-top: 2vw;
  }

  .language-title {
    margin-right: 3vw;
  }

  .language-item {
    align-self: center;
  }

  div ul li {
    font-size: 3vw;
    font-family: "Open Sans", sans-serif;
  }

  .languages-list {
    margin-right: 13vw;
  }

  .info-title {
    margin-right: 3vw;
  }

  .info-item {
    align-self: center;
  }

  .skill-info-container {
    align-self: center;
  }

  .skill-info {
    font-size: 3vw;
    width: 78vw;
    /* padding-right: 10vw; */
    /* margin-right: 100vw; */
    font-family: "Open Sans", sans-serif;
  }

  .gmail-container {
    margin-left: 14vw;
  }

  .gmail-text {
    font-size: 3vw;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
  }

  .icons {
    margin-left: 14vw;
  }
}
