#github {
  color: #3e4b14;
}

#linkedin {
  color: #007bb5;
}

#mit {
  color: rgb(187, 10, 10);
}

h1 {
  color: #ff5700;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: #45bbff;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-size: 20px;
}
